
.card
{

    width: 35%;
  
}
.btn2
{
    padding: 0;
    display: flex;
    justify-content: center;
 padding-top: 19px;
}
.btn
{
  width: 400px;
 
}
.checkbox
{
padding-top: 10px;

}
.card2
{
    display: flex;
    justify-content: center;
  

}
body
{
 
  overflow: hidden;
  background-size: cover;
}
.whole
{
    display: flex;
    justify-content: flex-end;
    margin-right: 100px;
    height: 100vh;
}

.username
{
  color: rgb(8, 8, 8);
}

.whole
{
  width: 100%;
 height: 101vh;
  background-image: linear-gradient(rgb(3, 100, 124) ,rgb(211, 63, 211));
}
.container
{
  margin-top: 100px;
  padding-top: 20px;
  
  padding-bottom: 200px;
  height: 100%;
 display: flex;
 justify-content: right;
}
input
{
 border: gray;
 color: black;
}
.textex
{
  

  border: solid 1px;
  border-radius: 5px;
  width:75%;
  display: flex;
  justify-content: center;
  background: url("gradient.jpg");
  box-shadow: 0px ;
  background-size:cover;

}
.letters
{
  color: rgb(68, 5, 68);
  margin-top: 20%;
  font-size: 50px;
}
.inputs
{
  margin-top: 100px;

 

}
.image
{
  
  background-image: url("loginlogo.jfif");
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;

}
.please
{
  font-size: 20px;
  color: black;
  text-align: center;
}
.check
{
 color:rgb(15, 1, 1);
 
}
.letters
{
  animation-name: bounce;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}
@keyframes bounce
{
  0%,
    100% {
        transform: translateY(0);
        letter-spacing: 5px;
        
    }

    50% {
        transform: translateY(-20px);
        letter-spacing: 2px;
    }
    
}